body {
  /* background-color: #212121; */
}

.calculator-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  border: 2px solid rgb(238, 240, 240);
  border-radius: 25px;
  height: 75vh;
  width: 50vh;
}

.cal-button {
  border: 1px solid;
  text-align: center;
  cursor: pointer;
}