*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Orbitron", sans-serif;
    /* overflow: hidden; */
}
.conatianer{
    padding: 0 5% 0 5% ;
    height: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.navbar-items{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    gap: 60px;
}
li{
    font-size: large;
    font-weight: 400;
}
li:hover{
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 0.3em
}
nav>div>img{
    height: 30px;
}

i{
    font-size: 25px;
    align-items: center;
    padding-top: 5px;
    cursor: pointer;
}
header{
    margin-bottom: 50px;
}
.btn-serach{
    padding: 7px 40px;
    border-radius: 8px;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.btn-serach:hover{
    color: #fff;
    background-color: #000;
}
.hero-section{
    
}
.right-section{
    margin-right: 60px;
}
.squares img{
    position: relative;
}
.img{
    height: 450px;
}
.sqr {
    position: absolute;
    bottom: 0px;
    left: 230px;
    height: 250px;
    z-index: -1;
}
.hero{
    display: flex;
}
.global{
    position: relative;
        bottom: 31px;
        right: 121px;
        height: 42px;
}

.left-section{
    align-items: center;
    text-align: center;
}
.left-section h1{
    font-size: 50px;
    padding-bottom: 30px;
}
.left-section p {
font-size: 12px;
line-height: 20px    ;
text-align: center;
text-wrap: balance;
margin-bottom: 60px;
}

div>input{
    border: none;
    border: 2px solid black;
    text-align: center;
    padding: 3px 8px;
    font-size: 15px;
    font-weight: 600;
    font-family: "Orbitron", sans-serif;
    border-radius: 8px;
}

.join-btn{
    background-color: #000;
    color: #fff;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    border: none;
    font-family: "Orbitron", sans-serif;
    margin-left: 10px;
}
.join-btn:hover{
    color: #000;
    background-color: #fff;
    border: 1px solid black;
}
.social-media{
    margin-top: 120px;
}
.con-txt{
    opacity: .7;
    font-size: 15px;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}
a>img{
    height: 30px;
    margin-right: 10px;
    align-items: center;
}

.icons{
    display: block;
    flex-direction: column;
}
.start{
        position: relative;
            height: 50px;
            left: 271px;
            bottom: 12px;
}
.start1 {
    position: relative;
        height: 36px;
        right: 340px;
        top: 382px;
}